﻿.dropzone-small{
    .dropzone{min-height:30px;padding:0.5rem;
              .dz-message{margin:0.5rem 0}
              .dz-preview{width:90px;min-height:75px;
                          .dz-image{width:90px;height:90px;
                                    img{max-width:90px;max-height:90px}
                          }

                          .dz-details{padding:1rem 0.5rem}
                          .dz-error-message{left:100px}
              }
              .dz-error{color:red !important;                        
                        .dz-error-mark{
                            svg{border-radius:50%;background:rgba(255,0,0,0.5)}
                            .dz-remove{color:red}
                        }
              }
    }
}