﻿/*#region Roboto */
@font-face {
  font-family: 'Roboto';
  src: url("fonts/roboto.ttf"), url("fonts/roboto.woff"); }

@font-face {
  font-family: 'Roboto';
  src: url("fonts/robotobold.ttf"), url("fonts/robotobold.woff");
  font-weight: bold; }

/*#endregion */
/*#region UtmSeagull */
@font-face {
  font-family: 'UtmSeagull';
  src: url("fonts/utmseagullbold.ttf"), url("fonts/utmseagullbold.woff");
  font-weight: bold; }

@font-face {
  font-family: 'UtmSeagull';
  src: url("fonts/utmseagullbolditalic.ttf"), url("fonts/utmseagullbolditalic.woff");
  font-weight: bold;
  font-style: italic; }

/*#endregion */
/*#region UvnVan */
@font-face {
  font-family: 'UvnVan';
  src: url("fonts/uvnvan.ttf"), url("fonts/uvnvan.woff"); }

@font-face {
  font-family: 'UvnVan';
  src: url("fonts/uvnvanbold.ttf"), url("fonts/uvnvanbold.woff");
  font-weight: bold; }

/*#endregion */
/*#region UtmAndrogyne */
@font-face {
  font-family: 'UtmAndrogyne';
  src: url("fonts/UtmAndrogyne.ttf"), url("fonts/UtmAndrogyne.woff"); }

/*#endregion */
@font-face {
  font-family: 'Arimo-Italic';
  src: url("../fonts/Arimo-Italic.ttf") format("truetype"); }

@font-face {
  font-family: 'Arimo-Bold';
  src: url("../fonts/Arimo-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Arimo-Regular';
  src: url("../fonts/Arimo-Regular.ttf") format("truetype"); }
