﻿@font-face {
  font-family: 'Arimo-Italic';
  src: url("../fonts/Arimo-Italic.ttf") format("truetype"); }

@font-face {
  font-family: 'Arimo-Bold';
  src: url("../fonts/Arimo-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Arimo-Regular';
  src: url("../fonts/Arimo-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'SFUFuturaBook_0';
  src: url("../fonts/SFUFuturaBook_0.TTF") format("truetype"); }

body {
  margin: 0;
  padding: 0; }

.arrow {
  position: absolute;
  z-index: 2;
  width: 60px;
  height: 60px;
  border: none;
  outline: 0;
  cursor: pointer;
  color: white;
  background-color: black;
  opacity: 0.5;
  font-size: 24px; }

.container {
  width: 1414px;
  margin: auto; }

.font16, .header-content .menu, .footer-pc .container .item .tieu-de, .footer-tab .container .item .tieu-de, .footer-mobile .container .item .tieu-de {
  font-family: Arimo-Regular;
  font-size: 16px;
  color: black; }

.font14, .header-content .header-top .header-right .contact, .san-pham-noi-bat .item .gia, .footer-pc .container .item .tin, .footer-pc .container .item .hotline .tu-van, .footer-tab .container .item .tin, .footer-tab .container .item .hotline .tu-van, .footer-mobile .container .item .tin, .footer-mobile .container .item .hotline .tu-van {
  font-family: Arimo-Regular;
  font-size: 14px;
  color: #333333; }

.font12, .header-content .header-top .header-right .search-box .text-search-box, .footer-pc .container .item .email button, .footer-tab .container .item .email button, .footer-mobile .container .item .email button {
  font-family: Arimo-Italic;
  font-size: 12px;
  font-style: italic;
  color: black;
  font-weight: bold; }

ul {
  padding: 0; }
  ul li {
    list-style: none;
    display: inline-block; }

a {
  color: black;
  text-decoration: none; }

input {
  outline: none; }

button {
  font-family: Arimo-Regular; }

.header-content .header-top {
  margin-top: 15px; }
  .header-content .header-top .logo {
    height: 40px;
    display: inline-block; }
  .header-content .header-top .header-right {
    float: right;
    display: inline-block;
    margin-top: 10px; }
    .header-content .header-top .header-right .contact {
      display: inline-block; }
      .header-content .header-top .header-right .contact .tel {
        color: black;
        font-weight: bold; }
    .header-content .header-top .header-right .search-box {
      display: inline-block;
      margin-left: 90px; }
      .header-content .header-top .header-right .search-box input {
        width: 285px;
        height: 30px;
        border: none;
        border-radius: 10px;
        background-color: #d6e0e1;
        padding-left: 20px; }
      .header-content .header-top .header-right .search-box .icon-search {
        margin-left: -35px; }
    .header-content .header-top .header-right .gio-hang {
      display: inline-block;
      position: relative;
      top: 5px;
      margin-left: 40px; }

.header-content .menu {
  margin-top: 30px; }
  .header-content .menu .menu-left {
    display: inline-block; }
    .header-content .menu .menu-left ul {
      padding: 0; }
      .header-content .menu .menu-left ul li {
        padding-right: 30px; }
        .header-content .menu .menu-left ul li i {
          font-size: smaller; }
  .header-content .menu .menu-right {
    float: right;
    display: inline-block;
    font-weight: bold; }
    .header-content .menu .menu-right li {
      padding-left: 30px; }

.slide {
  width: 1900px;
  margin: auto; }
  .slide .slick-prev {
    z-index: 1;
    left: 80px; }
  .slide .slick-next {
    z-index: 1;
    right: 80px; }
  .slide .slick-prev::before {
    content: url("images/prev.png");
    width: 60px;
    height: 60px; }
  .slide .slick-next::before {
    content: url("images/next.png");
    width: 60px;
    height: 60px; }
  .slide .left {
    left: 70px; }
  .slide .right {
    right: 70px; }
  .slide .trai {
    left: calc(50%-670px); }
  .slide .phai {
    right: calc(50%+1990px); }
  .slide .ban-chay {
    position: absolute;
    z-index: 1;
    width: 600px;
    margin: auto;
    height: 270px;
    top: 175px;
    line-height: 70px;
    color: white; }
    .slide .ban-chay .summer {
      font-family: 'UTM Impact';
      font-size: 80px; }
    .slide .ban-chay .san-pham-ban-chay {
      font-family: Arimo-Regular;
      font-size: 60px; }

.san-pham {
  width: 1414px;
  margin: 60px auto; }
  .san-pham .big {
    height: 700px; }
    .san-pham .big .item {
      width: 700px;
      margin-right: 14px; }
    .san-pham .big :last-child {
      margin: 0; }
  .san-pham .small {
    height: 441px;
    margin-top: 12px; }
    .san-pham .small .item {
      width: 462px;
      margin-right: 14px; }
    .san-pham .small :last-child {
      margin: 0; }
  .san-pham .KhungAnh {
    list-style-type: none;
    margin: 0px;
    padding: 0px; }
    .san-pham .KhungAnh li {
      float: left;
      padding: 0px;
      position: relative;
      overflow: hidden; }
    .san-pham .KhungAnh :hover .caption {
      opacity: 1; }
    .san-pham .KhungAnh img {
      margin: 0px;
      padding: 0px;
      float: left;
      z-index: 4; }
    .san-pham .KhungAnh .caption {
      cursor: pointer;
      position: absolute;
      opacity: 0;
      -webkit-transition: all 0.45s ease-in-out;
      -moz-transition: all 0.45s ease-in-out;
      -o-transition: all 0.45s ease-in-out;
      -ms-transition: all 0.45s ease-in-out;
      transition: all 0.45s ease-in-out; }
      .san-pham .KhungAnh .caption .blur {
        background-color: rgba(0, 0, 0, 0.3);
        height: 700px;
        width: 700px;
        z-index: 5;
        position: absolute; }
      .san-pham .KhungAnh .caption .caption-text {
        z-index: 10;
        color: #fff;
        position: absolute;
        width: 700px;
        height: 700px;
        text-align: center;
        top: 300px; }
        .san-pham .KhungAnh .caption .caption-text .so-mi {
          font-family: SFUFuturaBook_0;
          text-transform: uppercase;
          font-size: 42px;
          margin: 15px; }
        .san-pham .KhungAnh .caption .caption-text .xem-chi-tiet {
          font-size: 15px; }
          .san-pham .KhungAnh .caption .caption-text .xem-chi-tiet .icon {
            font-size: 12px;
            margin-left: 5px; }
    .san-pham .KhungAnh .caption-text {
      z-index: 10;
      color: #fff;
      position: absolute;
      width: 700px;
      height: 700px;
      text-align: center;
      top: 300px; }
      .san-pham .KhungAnh .caption-text .so-mi {
        text-transform: uppercase;
        font-size: 42px;
        margin: 15px; }
      .san-pham .KhungAnh .caption-text .xem-chi-tiet {
        font-size: 15px; }
        .san-pham .KhungAnh .caption-text .xem-chi-tiet .icon {
          font-size: 12px;
          margin-left: 5px; }
      .san-pham .KhungAnh .caption-text a {
        color: white; }
    .san-pham .KhungAnh .phu-kien .blur .caption-text, .san-pham .KhungAnh .phu-kien .caption .caption-text {
      width: 462px;
      height: 462px;
      top: 200px; }

.san-pham-noi-bat {
  width: 1414px;
  height: 726px;
  margin: 0 auto;
  text-align: center; }
  .san-pham-noi-bat .slick-prev {
    z-index: 1;
    top: 200px;
    left: 0; }
  .san-pham-noi-bat .slick-next {
    z-index: 1;
    top: 200px;
    right: 50px; }
  .san-pham-noi-bat .slick-prev::before {
    content: url("images/prev.png");
    width: 60px;
    height: 60px; }
  .san-pham-noi-bat .slick-next::before {
    content: url("images/next.png");
    width: 60px;
    height: 60px; }
  .san-pham-noi-bat .slide-mobile {
    display: none; }
  .san-pham-noi-bat .ten {
    font-family: Arimo-Regular;
    margin-top: 80px;
    font-size: 50px;
    color: black;
    text-decoration: none; }
  .san-pham-noi-bat .item {
    width: 343px;
    margin-right: 14px;
    height: 626px; }
    .san-pham-noi-bat .item .gia-dac-biet {
      width: 75px;
      height: 20px;
      font-size: 10px;
      color: white;
      background-color: black;
      padding-top: 7px;
      margin: 10px auto; }
    .san-pham-noi-bat .item .ten-san-pham, .san-pham-noi-bat .item .button {
      font-family: Arimo-Regular;
      font-size: 12px; }
    .san-pham-noi-bat .item .button {
      color: white;
      width: 150px;
      height: 40px;
      background-color: black;
      margin: auto;
      padding-top: 26px;
      text-decoration: none;
      font-style: normal; }
  .san-pham-noi-bat .button:hover {
    background-color: #787878; }
  .san-pham-noi-bat .slider2 {
    top: 40px; }

.footer-pc {
  border-top: 1px solid #dedede;
  margin-top: 20px; }
  .footer-pc .container {
    height: 200px;
    margin-top: 50px; }
    .footer-pc .container .dang-ki-email {
      width: 290px; }
      .footer-pc .container .dang-ki-email .dangki {
        font-style: normal; }
    .footer-pc .container .chung, .footer-pc .container .men, .footer-pc .footer-tab .container .up .men, .footer-tab .footer-pc .container .up .men, .footer-pc .footer-mobile .container .up .men, .footer-mobile .footer-pc .container .up .men {
      width: 348px;
      margin-left: 25px; }
      .footer-pc .container .chung .chinh-sach-ban-hang, .footer-pc .container .men .chinh-sach-ban-hang {
        font-family: Arimo-Regular;
        font-size: 15px;
        color: black; }
      .footer-pc .container .chung a:hover, .footer-pc .container .men a:hover {
        color: #787878; }
    .footer-pc .container .item {
      text-align: left;
      height: 190px;
      margin: 0;
      width: auto;
      border-right: 1px solid #dedede; }
      .footer-pc .container .item .tieu-de {
        font-size: 18px;
        margin-bottom: 30px; }
      .footer-pc .container .item .menson {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 20px; }
      .footer-pc .container .item .email {
        margin-top: 25px; }
        .footer-pc .container .item .email .nhap-email {
          width: 240px;
          height: 50px;
          font-size: 14px;
          color: #787878;
          padding-left: 15px; }
        .footer-pc .container .item .email button {
          font-style: normal;
          position: relative;
          border: none;
          background-color: white;
          height: 27px;
          width: 95px;
          border-left: 1px solid #dedede;
          left: 163px;
          bottom: 42px;
          cursor: pointer; }
      .footer-pc .container .item .icon {
        color: #787878;
        margin: 0 12px 0 8px; }
      .footer-pc .container .item .hotline {
        width: 348px;
        height: 106px;
        border: 1px solid #d6e0e1;
        cursor: pointer; }
        .footer-pc .container .item .hotline .phone {
          font-size: 50px;
          margin: 0 15px 0 20px; }
        .footer-pc .container .item .hotline .number {
          font-family: Arimo-Bold;
          font-size: 20px; }
    .footer-pc .container :last-child {
      border: none; }
    .footer-pc .container .men {
      position: relative;
      top: -60px; }
  .footer-pc #on-top {
    width: 1414px;
    margin: auto;
    text-align: center;
    position: relative;
    top: -20px; }
  .footer-pc .chat {
    width: 230px;
    height: 40px;
    background-color: #3a5897;
    float: right;
    margin-bottom: 15px;
    color: white; }
    .footer-pc .chat .facebook {
      color: white;
      font-size: 20px;
      padding: 10px 0 0 20px; }
      .footer-pc .chat .facebook .open {
        font-family: Arimo-Regular;
        font-size: 18px;
        margin-left: 20px; }

.footer-tab {
  display: none;
  width: 768px;
  border-top: 1px solid #dedede;
  margin: 20px auto; }
  .footer-tab .container {
    margin: 0 auto; }
    .footer-tab .container .dang-ki-email {
      width: 355px; }
    .footer-tab .container .chung, .footer-tab .footer-pc .container .men, .footer-pc .footer-tab .container .men, .footer-tab .container .up .men {
      width: 348px;
      margin-left: 10px; }
      .footer-tab .container .chung .chinh-sach-ban-hang, .footer-tab .footer-pc .container .men .chinh-sach-ban-hang, .footer-pc .footer-tab .container .men .chinh-sach-ban-hang, .footer-tab .container .up .men .chinh-sach-ban-hang {
        font-family: Arimo-Regular;
        font-size: 15px;
        color: black; }
      .footer-tab .container .chung a:hover, .footer-tab .footer-pc .container .men a:hover, .footer-pc .footer-tab .container .men a:hover, .footer-tab .container .up .men a:hover {
        color: #787878; }
    .footer-tab .container .item {
      width: 384px;
      text-align: left;
      margin: 0;
      width: auto;
      border-right: 1px solid #dedede; }
      .footer-tab .container .item .tieu-de {
        font-size: 18px;
        margin-bottom: 30px; }
      .footer-tab .container .item .menson {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 20px; }
      .footer-tab .container .item .email {
        margin-top: 25px; }
        .footer-tab .container .item .email .nhap-email {
          width: 325px;
          height: 50px;
          font-size: 14px;
          color: #787878;
          padding-left: 15px;
          margin-left: 1px; }
        .footer-tab .container .item .email button {
          font-style: normal;
          position: relative;
          border: none;
          background-color: white;
          height: 27px;
          width: 95px;
          border-left: 1px solid #dedede;
          left: 248px;
          bottom: 42px;
          cursor: pointer;
          font-style: normal; }
      .footer-tab .container .item .icon {
        color: #787878;
        margin: 0 12px 0 8px; }
      .footer-tab .container .item .hotline {
        margin-top: 10px;
        width: 340px;
        height: 100px;
        border: 1px solid #d6e0e1;
        cursor: pointer; }
        .footer-tab .container .item .hotline .phone {
          font-size: 40px;
          margin: 0 15px 0 20px; }
        .footer-tab .container .item .hotline .number {
          font-family: Arimo-Bold;
          font-size: 18px; }
    .footer-tab .container :last-child {
      border: none; }
    .footer-tab .container .up {
      width: 768px;
      height: 270px;
      margin-left: 10px; }
      .footer-tab .container .up .men {
        position: relative;
        margin: 0; }
    .footer-tab .container .down {
      width: 768px;
      height: 300px; }
  .footer-tab #on-top {
    margin: auto;
    text-align: center;
    position: relative;
    top: -20px; }
  .footer-tab .chat {
    width: 230px;
    height: 40px;
    background-color: #3a5897;
    float: right;
    margin-bottom: 15px;
    color: white; }
    .footer-tab .chat .facebook {
      color: white;
      font-size: 20px;
      padding: 10px 0 0 20px; }
      .footer-tab .chat .facebook .open {
        font-family: Arimo-Regular;
        font-size: 18px;
        margin-left: 20px; }

.footer-mobile {
  display: none;
  width: 280px;
  border-top: 1px solid #dedede;
  margin: 20px 0 0 0; }
  .footer-mobile .container {
    margin: 0 auto; }
    .footer-mobile .container .dang-ki-email {
      width: 250px; }
    .footer-mobile .container .chung, .footer-mobile .footer-pc .container .men, .footer-pc .footer-mobile .container .men, .footer-mobile .container .up .men {
      width: 348px;
      margin-left: 10px; }
      .footer-mobile .container .chung .chinh-sach-ban-hang, .footer-mobile .footer-pc .container .men .chinh-sach-ban-hang, .footer-pc .footer-mobile .container .men .chinh-sach-ban-hang, .footer-mobile .container .up .men .chinh-sach-ban-hang {
        font-family: Arimo-Regular;
        font-size: 15px;
        color: black; }
      .footer-mobile .container .chung a:hover, .footer-mobile .footer-pc .container .men a:hover, .footer-pc .footer-mobile .container .men a:hover, .footer-mobile .container .up .men a:hover {
        color: #787878; }
    .footer-mobile .container .item {
      width: 280px;
      text-align: left;
      margin: 0;
      width: auto;
      border-right: 1px solid #dedede; }
      .footer-mobile .container .item .tieu-de {
        font-size: 18px;
        margin-bottom: 30px; }
      .footer-mobile .container .item .menson {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 0; }
      .footer-mobile .container .item .email .nhap-email {
        width: 250px;
        height: 50px;
        font-size: 14px;
        color: #787878;
        padding-left: 15px;
        margin-left: 2px; }
      .footer-mobile .container .item .email button {
        font-style: normal;
        position: relative;
        border: none;
        background-color: white;
        height: 27px;
        width: 95px;
        border-left: 1px solid #dedede;
        left: 175px;
        bottom: 42px;
        cursor: pointer;
        font-style: normal; }
      .footer-mobile .container .item .icon {
        color: #787878;
        margin: 0 12px 0 8px; }
      .footer-mobile .container .item .hotline {
        margin-top: 10px;
        width: 278px;
        height: 100px;
        border: 1px solid #d6e0e1;
        cursor: pointer; }
        .footer-mobile .container .item .hotline .phone {
          font-size: 36px;
          margin: 0 15px 0 20px; }
        .footer-mobile .container .item .hotline .tu-van {
          font-size: 12px; }
        .footer-mobile .container .item .hotline .number {
          font-family: Arimo-Bold;
          font-size: 14px; }
    .footer-mobile .container :last-child {
      border: none; }
    .footer-mobile .container .up {
      width: 768px;
      height: 270px;
      margin-left: 10px; }
      .footer-mobile .container .up .men {
        position: relative;
        margin: 0; }
    .footer-mobile .container .down {
      width: 768px;
      height: 300px; }
  .footer-mobile #on-top {
    margin: auto;
    text-align: center;
    position: relative;
    top: -20px; }
  .footer-mobile .chat {
    width: 100%;
    height: 40px;
    background-color: #3a5897;
    float: right;
    color: white;
    margin: 30px 0 0 0; }
    .footer-mobile .chat .facebook {
      color: white;
      font-size: 20px;
      padding: 10px 0 0 20px; }
      .footer-mobile .chat .facebook .open {
        font-family: Arimo-Regular;
        font-size: 18px;
        margin-left: 20px; }

.menu-mobile {
  display: none; }

.menu-wrap {
  position: absolute;
  z-index: 1001;
  width: 150px;
  height: auto;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  left: -40px;
  font-size: 16px;
  -webkit-transform: translate3d(-320px, 0, 0);
  transform: translate3d(-320px, 0, 0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  .menu-wrap a {
    color: #d6e0e1; }
  .menu-wrap :hover, .menu-wrap :focus {
    color: white; }

.menu-button {
  position: absolute;
  z-index: 1000;
  margin: 16px;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  text-indent: 40px;
  font-size: 24px;
  color: transparent;
  background: transparent;
  top: 70px; }

.menu-button::before {
  position: absolute;
  top: 20px;
  right: 10px;
  bottom: 4px;
  left: 5px;
  background: linear-gradient(black 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, black 80%);
  content: ''; }

.close-button {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 16px;
  top: 16px;
  overflow: hidden;
  text-indent: 16px;
  font-size: 12px;
  border: none;
  background: transparent;
  color: transparent; }

.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #d6e0e1; }

.close-button::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.close-button::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.menu-tab, .icon-list {
  font-family: Arimo-Regular;
  height: 100%;
  margin-left: 10px; }

.icon-list {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

.icon-list a {
  display: block;
  padding: 15px;
  -webkit-transform: translate3d(0, 500px, 0);
  transform: translate3d(0, 500px, 0); }

.icon-list, .icon-list a {
  -webkit-transition: -webkit-transform 0s 0.4s;
  transition: transform 0s 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.icon-list a:nth-child(2) {
  -webkit-transform: translate3d(0, 1000px, 0);
  transform: translate3d(0, 1000px, 0); }

.icon-list a:nth-child(3) {
  -webkit-transform: translate3d(0, 1500px, 0);
  transform: translate3d(0, 1500px, 0); }

.icon-list a:nth-child(4) {
  -webkit-transform: translate3d(0, 2000px, 0);
  transform: translate3d(0, 2000px, 0); }

.icon-list a:nth-child(5) {
  -webkit-transform: translate3d(0, 2500px, 0);
  transform: translate3d(0, 2500px, 0); }

.icon-list a:nth-child(6) {
  -webkit-transform: translate3d(0, 3000px, 0);
  transform: translate3d(0, 3000px, 0); }

.icon-list a {
  margin-left: 10px;
  font-weight: 700; }

.show-menu .menu-wrap {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.show-menu .icon-list,
.show-menu .icon-list a {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.show-menu .icon-list a {
  -webkit-transition-duration: 0.9s;
  transition-duration: 0.9s; }

.show-menu .content::before {
  opacity: 1;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
