﻿@font-face {
    font-family: 'Arimo-Italic';
    src: url('../fonts/Arimo-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Arimo-Bold';
    src: url('../fonts/Arimo-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Arimo-Regular';
    src: url('../fonts/Arimo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SFUFuturaBook_0';
    src: url('../fonts/SFUFuturaBook_0.TTF') format('truetype');
}

body {
    margin: 0;
    padding: 0;
}

$den: black;
$den1: #333333;
$trang: white;
$xam: #d6e0e1;
$xam2: #787878;
$xam3: #dedede;
$facebook: #3a5897;

.arrow {
    position: absolute;
    z-index: 2;
    width: 60px;
    height: 60px;
    border: none;
    outline: 0;
    cursor: pointer;
    color: $trang;
    background-color: $den;
    opacity: 0.5;
    font-size: 24px;
}

.container {
    width: 1414px;
    margin: auto;
}

.font16 {
    font-family: Arimo-Regular;
    font-size: 16px;
    color: $den;
}

.font14 {
    font-family: Arimo-Regular;
    font-size: 14px;
    color: $den1;
}

.font12 {
    font-family: Arimo-Italic;
    font-size: 12px;
    font-style: italic;
    color: $den;
    font-weight: bold;
}

ul {
    padding: 0;

    li {
        list-style: none;
        display: inline-block;
    }
}

a {
    color: $den;
    text-decoration: none;
}

input {
    outline: none;
}

button {
    font-family: Arimo-Regular;
}

.header-content {
    .header-top {
        margin-top: 15px;

        .logo {
            height: 40px;
            display: inline-block;
        }

        .header-right {
            float: right;
            display: inline-block;
            margin-top: 10px;

            .contact {
                display: inline-block;
                @extend .font14;

                .tel {
                    color: $den;
                    font-weight: bold;
                }
            }

            .search-box {
                display: inline-block;
                margin-left: 90px;

                input {
                    width: 285px;
                    height: 30px;
                    border: none;
                    border-radius: 10px;
                    background-color: $xam;
                    padding-left: 20px;
                }

                .icon-search {
                    margin-left: -35px;
                }

                .text-search-box {
                    @extend .font12;
                }
            }

            .gio-hang {
                display: inline-block;
                position: relative;
                top: 5px;
                margin-left: 40px;
            }
        }
    }

    .menu {
        margin-top: 30px;
        @extend .font16;

        .menu-left {
            display: inline-block;

            ul {
                padding: 0;

                li {
                    padding-right: 30px;

                    i {
                        font-size: smaller;
                    }
                }
            }
        }

        .menu-right {
            float: right;
            display: inline-block;
            font-weight: bold;

            li {
                padding-left: 30px;
            }
        }
    }
}

.slide {
    width: 1900px;
    margin: auto;

    .slick-prev {
        z-index: 1;
        left: 80px;
    }

    .slick-next {
        z-index: 1;
        right: 80px;
    }

    .slick-prev::before {
        content: url('images/prev.png');
        width: 60px;
        height: 60px;
    }

    .slick-next::before {
        content: url('images/next.png');
        width: 60px;
        height: 60px;
    }

    .left {
        left: 70px;
    }

    .right {
        right: 70px;
    }

    .trai {
        left: calc(50%-670px);
    }

    .phai {
        right: calc(50%+1990px);
    }

    .ban-chay {
        position: absolute;
        z-index: 1;
        width: 600px;
        margin: auto;
        height: 270px;
        top: 175px;
        line-height: 70px;
        color: $trang;

        .summer {
            font-family: 'UTM Impact';
            font-size: 80px;
        }

        .san-pham-ban-chay {
            font-family: Arimo-Regular;
            font-size: 60px;
        }
    }
}

.san-pham {
    width: 1414px;
    margin: 60px auto;

    .big {
        height: 700px;

        .item {
            width: 700px;
            margin-right: 14px;
        }

        :last-child {
            margin: 0;
        }
    }

    .small {
        height: 441px;
        margin-top: 12px;

        .item {
            width: 462px;
            margin-right: 14px;
        }

        :last-child {
            margin: 0;
        }
    }

    .KhungAnh {
        list-style-type: none;
        margin: 0px;
        padding: 0px;

        li {
            float: left;
            padding: 0px;
            position: relative;
            overflow: hidden;
        }

        :hover {
            .caption {
                opacity: 1;
            }
        }

        img {
            margin: 0px;
            padding: 0px;
            float: left;
            z-index: 4;
        }

        .caption {
            cursor: pointer;
            position: absolute;
            opacity: 0;
            -webkit-transition: all 0.45s ease-in-out;
            -moz-transition: all 0.45s ease-in-out;
            -o-transition: all 0.45s ease-in-out;
            -ms-transition: all 0.45s ease-in-out;
            transition: all 0.45s ease-in-out;

            .blur {
                background-color: rgba(0,0,0,0.3);
                height: 700px;
                width: 700px;
                z-index: 5;
                position: absolute;
            }

            .caption-text {
                z-index: 10;
                color: #fff;
                position: absolute;
                width: 700px;
                height: 700px;
                text-align: center;
                top: 300px;

                .so-mi {
                    font-family: SFUFuturaBook_0;
                    text-transform: uppercase;
                    font-size: 42px;
                    margin: 15px;
                }

                .xem-chi-tiet {
                    font-size: 15px;

                    .icon {
                        font-size: 12px;
                        margin-left: 5px;
                    }
                }
            }
        }

        .caption-text {
            z-index: 10;
            color: #fff;
            position: absolute;
            width: 700px;
            height: 700px;
            text-align: center;
            top: 300px;

            .so-mi {
                text-transform: uppercase;
                font-size: 42px;
                margin: 15px;
            }

            .xem-chi-tiet {
                font-size: 15px;

                .icon {
                    font-size: 12px;
                    margin-left: 5px;
                }
            }

            a {
                color: $trang;
            }
        }

        .phu-kien {
            .blur, .caption {
                .caption-text {
                    width: 462px;
                    height: 462px;
                    top: 200px;
                }
            }
        }
    }
}

.san-pham-noi-bat {
    width: 1414px;
    height: 726px;
    margin: 0 auto;
    text-align: center;

    .slick-prev {
        z-index: 1;
        top: 200px;
    left: 0;
    }

    .slick-next {
        z-index: 1;
            top: 200px;
    right: 50px;
    }

    .slick-prev::before {
        content: url('images/prev.png');
        width: 60px;
        height: 60px;
    }

    .slick-next::before {
        content: url('images/next.png');
        width: 60px;
        height: 60px;
    }

    .slide-mobile {
        display: none;
    }

    .ten {
        font-family: Arimo-Regular;
        margin-top: 80px;
        font-size: 50px;
        color: $den;
        text-decoration: none;
    }

    .item {
        width: 343px;
        margin-right: 14px;
        height: 626px;

        .gia-dac-biet {
            width: 75px;
            height: 20px;
            font-size: 10px;
            color: $trang;
            background-color: $den;
            padding-top: 7px;
            margin: 10px auto;
        }

        .ten-san-pham {
            font-family: Arimo-Regular;
            font-size: 12px;
        }

        .gia {
            @extend .font14;
        }

        .button {
            @extend .ten-san-pham;
            color: $trang;
            width: 150px;
            height: 40px;
            background-color: $den;
            margin: auto;
            padding-top: 26px;
            text-decoration: none;
            font-style: normal;
        }
    }

    .button:hover {
        background-color: $xam2;
    }

    .slider2 {
        top: 40px;
    }
}

.footer-pc {
    border-top: 1px solid $xam3;
    margin-top: 20px;

    .container {
        height: 200px;
        margin-top: 50px;

        .dang-ki-email {
            width: 290px;

            .dangki {
                font-style: normal;
            }
        }

        .chung {
            width: 348px;
            margin-left: 25px;

            .chinh-sach-ban-hang {
                font-family: Arimo-Regular;
                font-size: 15px;
                color: $den;
            }

            a:hover {
                color: $xam2;
            }
        }

        .item {
            text-align: left;
            height: 190px;
            margin: 0;
            width: auto;
            border-right: 1px solid $xam3;

            .tieu-de {
                @extend .font16;
                font-size: 18px;
                margin-bottom: 30px;
            }

            .tin {
                @extend .font14;
            }

            .menson {
                font-size: 50px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .email {
                margin-top: 25px;

                .nhap-email {
                    width: 240px;
                    height: 50px;
                    font-size: 14px;
                    color: $xam2;
                    padding-left: 15px;
                }

                button {
                    @extend .font12;
                    font-style: normal;
                    position: relative;
                    border: none;
                    background-color: $trang;
                    height: 27px;
                    width: 95px;
                    border-left: 1px solid $xam3;
                    left: 163px;
                    bottom: 42px;
                    cursor: pointer;
                }
            }

            .icon {
                color: $xam2;
                margin: 0 12px 0 8px;
            }

            .hotline {
                width: 348px;
                height: 106px;
                border: 1px solid $xam;
                cursor: pointer;

                .phone {
                    font-size: 50px;
                    margin: 0 15px 0 20px;
                }

                .tu-van {
                    @extend .font14;
                }

                .number {
                    font-family: Arimo-Bold;
                    font-size: 20px;
                }
            }
        }

        :last-child {
            border: none;
        }

        .men {
            @extend .chung;
            position: relative;
            top: -60px;
        }
    }

    #on-top {
        width: 1414px;
        margin: auto;
        text-align: center;
        position: relative;
        top: -20px;
    }

    .chat {
        width: 230px;
        height: 40px;
        background-color: $facebook;
        float: right;
        margin-bottom: 15px;
        color: $trang;
        
        .facebook {
            color: $trang;
            font-size: 20px;
            padding: 10px 0 0 20px;

            .open {
                font-family: Arimo-Regular;
                font-size: 18px;
                margin-left: 20px;
            }
        }
    }
}

.footer-tab {
    display: none;
    width: 768px;
    border-top: 1px solid $xam3;
    margin: 20px auto;

    .container {
        margin: 0 auto;

        .dang-ki-email {
            width: 355px;
        }

        .chung {
            width: 348px;
            margin-left: 10px;

            .chinh-sach-ban-hang {
                font-family: Arimo-Regular;
                font-size: 15px;
                color: $den;
            }

            a:hover {
                color: $xam2;
            }
        }

        .item {
            width: 384px;
            text-align: left;
            margin: 0;
            width: auto;
            border-right: 1px solid $xam3;

            .tieu-de {
                @extend .font16;
                font-size: 18px;
                margin-bottom: 30px;
            }

            .tin {
                @extend .font14;
            }

            .menson {
                font-size: 50px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .email {
                margin-top: 25px;

                .nhap-email {
                    width: 325px;
                    height: 50px;
                    font-size: 14px;
                    color: $xam2;
                    padding-left: 15px;
                    margin-left: 1px;
                }

                button {
                    @extend .font12;
                    font-style: normal;
                    position: relative;
                    border: none;
                    background-color: $trang;
                    height: 27px;
                    width: 95px;
                    border-left: 1px solid $xam3;
                    left: 248px;
                    bottom: 42px;
                    cursor: pointer;
                    font-style: normal;
                }
            }

            .icon {
                color: $xam2;
                margin: 0 12px 0 8px;
            }

            .hotline {
                margin-top: 10px;
                width: 340px;
                height: 100px;
                border: 1px solid $xam;
                cursor: pointer;

                .phone {
                    font-size: 40px;
                    margin: 0 15px 0 20px;
                }

                .tu-van {
                    @extend .font14;
                }

                .number {
                    font-family: Arimo-Bold;
                    font-size: 18px;
                }
            }
        }

        :last-child {
            border: none;
        }

        .up {
            width: 768px;
            height: 270px;
            margin-left: 10px;

            .men {
                @extend .chung;
                position: relative;
                margin: 0;
            }
        }

        .down {
            width: 768px;
            height: 300px;
        }
    }

    #on-top {
        margin: auto;
        text-align: center;
        position: relative;
        top: -20px;
    }

    .chat {
        width: 230px;
        height: 40px;
        background-color: $facebook;
        float: right;
        margin-bottom: 15px;
        color: $trang;

        .facebook {
            color: $trang;
            font-size: 20px;
            padding: 10px 0 0 20px;

            .open {
                font-family: Arimo-Regular;
                font-size: 18px;
                margin-left: 20px;
            }
        }
    }
}

.footer-mobile {
    display: none;
    width: 280px;
    border-top: 1px solid $xam3;
    margin: 20px 0 0 0;

    .container {
        margin: 0 auto;

        .dang-ki-email {
            width: 250px;
        }

        .chung {
            width: 348px;
            margin-left: 10px;

            .chinh-sach-ban-hang {
                font-family: Arimo-Regular;
                font-size: 15px;
                color: $den;
            }

            a:hover {
                color: $xam2;
            }
        }

        .item {
            width: 280px;
            text-align: left;
            margin: 0;
            width: auto;
            border-right: 1px solid $xam3;

            .tieu-de {
                @extend .font16;
                font-size: 18px;
                margin-bottom: 30px;
            }

            .tin {
                @extend .font14;
            }

            .menson {
                font-size: 50px;
                font-weight: bold;
                margin-bottom: 20px;
                margin-top: 0;
            }

            .email {
                .nhap-email {
                    width: 250px;
                    height: 50px;
                    font-size: 14px;
                    color: $xam2;
                    padding-left: 15px;
                    margin-left: 2px;
                }

                button {
                    @extend .font12;
                    font-style: normal;
                    position: relative;
                    border: none;
                    background-color: $trang;
                    height: 27px;
                    width: 95px;
                    border-left: 1px solid $xam3;
                    left: 175px;
                    bottom: 42px;
                    cursor: pointer;
                    font-style: normal;
                }
            }

            .icon {
                color: $xam2;
                margin: 0 12px 0 8px;
            }

            .hotline {
                margin-top: 10px;
                width: 278px;
                height: 100px;
                border: 1px solid $xam;
                cursor: pointer;

                .phone {
                    font-size: 36px;
                    margin: 0 15px 0 20px;
                }

                .tu-van {
                    @extend .font14;
                    font-size: 12px;
                }

                .number {
                    font-family: Arimo-Bold;
                    font-size: 14px;
                }
            }
        }

        :last-child {
            border: none;
        }

        .up {
            width: 768px;
            height: 270px;
            margin-left: 10px;

            .men {
                @extend .chung;
                position: relative;
                margin: 0;
            }
        }

        .down {
            width: 768px;
            height: 300px;
        }
    }

    #on-top {
        margin: auto;
        text-align: center;
        position: relative;
        top: -20px;
    }

    .chat {
        width: 100%;
        height: 40px;
        background-color: $facebook;
        float: right;
        color: $trang;
        margin: 30px 0 0 0;

        .facebook {
            color: $trang;
            font-size: 20px;
            padding: 10px 0 0 20px;

            .open {
                font-family: Arimo-Regular;
                font-size: 18px;
                margin-left: 20px;
            }
        }
    }
}

.menu-mobile {
    display: none;
}

.menu-wrap {
    position: absolute;
    z-index: 1001;
    width: 150px;
    height: auto;
    background: rgba(0,0,0,0.8);
    padding: 30px;
    left: -40px;
    font-size: 16px;
    -webkit-transform: translate3d(-320px,0,0);
    transform: translate3d(-320px,0,0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);

    a {
        color: $xam;
    }

    :hover, :focus {
        color: $trang;
    }
}

.menu-button {
    position: absolute;
    z-index: 1000;
    margin: 16px;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    text-indent: 40px;
    font-size: 24px;
    color: transparent;
    background: transparent;
    top: 70px;
}

.menu-button::before {
    position: absolute;
    top: 20px;
    right: 10px;
    bottom: 4px;
    left: 5px;
    background: linear-gradient($den 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, $den 80%);
    content: '';
}

.close-button {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 16px;
    top: 16px;
    overflow: hidden;
    text-indent: 16px;
    font-size: 12px;
    border: none;
    background: transparent;
    color: transparent;
}

.close-button::before,
.close-button::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 50%;
    background: $xam;
}

.close-button::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close-button::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu-tab, .icon-list {
    font-family: Arimo-Regular;
    height: 100%;
    margin-left: 10px;
}

.icon-list {
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

.icon-list a {
    display: block;
    padding: 15px;
    -webkit-transform: translate3d(0,500px,0);
    transform: translate3d(0,500px,0);
}

.icon-list, .icon-list a {
    -webkit-transition: -webkit-transform 0s 0.4s;
    transition: transform 0s 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.icon-list a:nth-child(2) {
    -webkit-transform: translate3d(0,1000px,0);
    transform: translate3d(0,1000px,0);
}

.icon-list a:nth-child(3) {
    -webkit-transform: translate3d(0,1500px,0);
    transform: translate3d(0,1500px,0);
}

.icon-list a:nth-child(4) {
    -webkit-transform: translate3d(0,2000px,0);
    transform: translate3d(0,2000px,0);
}

.icon-list a:nth-child(5) {
    -webkit-transform: translate3d(0,2500px,0);
    transform: translate3d(0,2500px,0);
}

.icon-list a:nth-child(6) {
    -webkit-transform: translate3d(0,3000px,0);
    transform: translate3d(0,3000px,0);
}

.icon-list a {
    margin-left: 10px;
    font-weight: 700;
}

.show-menu .menu-wrap {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list,
.show-menu .icon-list a {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list a {
    -webkit-transition-duration: 0.9s;
    transition-duration: 0.9s;
}

.show-menu .content::before {
    opacity: 1;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
