﻿@media (min-width: 1171px) and (max-width: 1366px) {
  li {
    list-style: none; }
  .header-content .container {
    width: 1170px; }
  .header-content .header-top .header-right .contact {
    display: inline-block; }
  .header-content .menu .menu-left {
    display: inline-block; }
  .header-content .menu-mobile {
    display: none; }
  .slide-mobile {
    display: none; }
  .slide {
    width: 1366px; }
    .slide img {
      zoom: 80%; }
    .slide .slick-prev {
      left: 40px; }
    .slide .trai {
      left: calc(50% -  520px); }
  .san-pham, .san-pham-noi-bat {
    zoom: 80%; }
    .san-pham .slide2, .san-pham-noi-bat .slide2 {
      width: 100%; }
    .san-pham .ban-chay, .san-pham-noi-bat .ban-chay {
      width: 365px; }
      .san-pham .ban-chay .summer, .san-pham-noi-bat .ban-chay .summer {
        font-size: 62px; }
      .san-pham .ban-chay .san-pham-ban-chay-nhat, .san-pham-noi-bat .ban-chay .san-pham-ban-chay-nhat {
        font-size: 30px; }
  .footer-pc {
    width: 100%;
    display: inline-block; }
    .footer-pc .container {
      left: 8px;
      margin-top: 50px;
      position: relative;
      zoom: 80%; }
  .footer-tab {
    display: none; } }

@media (min-width: 1024px) and (max-width: 1170px) {
  li {
    list-style: none; }
  .container {
    width: 940px; }
  .header-content .header-top .header-right .contact {
    display: none; }
  .header-content .menu .menu-left {
    display: none; }
  .header-content .menu-mobile {
    display: inline-block; }
  .header-content .menu-button {
    left: 15px; }
  .slide-mobile {
    display: none; }
  .slide {
    zoom: 50%; }
    .slide .slick-prev, .slide .slick-next {
      visibility: hidden; }
    .slide .slide2 {
      width: 100%; }
    .slide .ban-chay {
      width: 365px; }
      .slide .ban-chay .summer {
        font-size: 62px; }
      .slide .ban-chay .san-pham-ban-chay-nhat {
        font-size: 30px; }
  .san-pham {
    zoom: 67%; }
  .san-pham-noi-bat {
    zoom: 67%; }
  .footer-pc {
    display: none; }
  .footer-tab {
    width: 1024px;
    display: block; }
    .footer-tab .container {
      position: relative;
      width: 100%;
      left: 53px; }
      .footer-tab .container .up {
        width: 200px;
        display: inline; }
        .footer-tab .container .up .chung {
          margin-left: 40px; }
        .footer-tab .container .up .item {
          width: 460px; }
      .footer-tab .container .down {
        width: 400px;
        display: inline-block;
        margin-left: 40px;
        margin-top: 70px; } }

@media (max-width: 768px) {
  li {
    list-style: none; }
  .container {
    width: 730px; }
  .header-content .header-top .header-right .contact {
    display: none; }
  .header-content .menu .menu-left {
    display: none; }
  .header-content .menu-mobile {
    display: inline-block; }
  .slide-mobile {
    display: none; }
  .slide, .san-pham, .san-pham-noi-bat {
    zoom: 50%; }
    .slide .slick-prev, .slide .slick-next, .san-pham .slick-prev, .san-pham .slick-next, .san-pham-noi-bat .slick-prev, .san-pham-noi-bat .slick-next {
      visibility: hidden; }
    .slide .slide2, .san-pham .slide2, .san-pham-noi-bat .slide2 {
      width: 100%; }
    .slide .ban-chay, .san-pham .ban-chay, .san-pham-noi-bat .ban-chay {
      width: 365px; }
      .slide .ban-chay .summer, .san-pham .ban-chay .summer, .san-pham-noi-bat .ban-chay .summer {
        font-size: 62px; }
      .slide .ban-chay .san-pham-ban-chay-nhat, .san-pham .ban-chay .san-pham-ban-chay-nhat, .san-pham-noi-bat .ban-chay .san-pham-ban-chay-nhat {
        font-size: 30px; }
  .footer-pc {
    display: none; }
  .footer-tab {
    display: inline-block; } }

@media (max-width: 320px) {
  .container {
    width: 100%; }
  .header-content {
    width: 300px;
    margin: auto;
    height: 100px; }
    .header-content .header-top .header-right .search-box {
      display: none; }
    .header-content .header-top .header-right .gio-hang {
      display: none; }
    .header-content .header-top .logo {
      display: flex;
      justify-content: center; }
    .header-content .menu {
      margin: 0;
      border-top: 1px solid #d6e0e1; }
      .header-content .menu .menu-right {
        font-size: 14px; }
        .header-content .menu .menu-right li {
          padding: 5px; }
    .header-content .menu-button {
      top: -68px; }
    .header-content .menu-mobile {
      position: relative;
      top: -20px; }
  .slide {
    width: 100%;
    height: auto; }
    .slide .slick-prev, .slide .slick-next {
      visibility: hidden; }
    .slide .slider img {
      zoom: 40%; }
    .slide .slider .ban-chay {
      top: 70px;
      left: -20px; }
      .slide .slider .ban-chay .summer {
        font-size: 40px;
        margin: 0; }
      .slide .slider .ban-chay .san-pham-ban-chay {
        font-size: 36px;
        margin: 0; }
  .san-pham {
    width: 100%;
    height: 3000px; }
    .san-pham .big {
      zoom: 80%;
      position: relative;
      left: 50px;
      height: 1450px; }
      .san-pham .big .item {
        padding-bottom: 40px; }
    .san-pham .small {
      width: 100%;
      height: 1430px;
      position: relative;
      left: 35px;
      zoom: 120%; }
      .san-pham .small .item {
        padding-bottom: 30px; }
  .san-pham-noi-bat {
    width: 100%; }
    .san-pham-noi-bat .slide-mobile {
      display: block; }
    .san-pham-noi-bat .ten {
      position: relative;
      top: -30px; }
    .san-pham-noi-bat .slider2 {
      display: none; }
    .san-pham-noi-bat .slide-mobile .item {
      width: 100%;
      zoom: 150%; }
  .footer-tab {
    display: none; }
  .footer-mobile {
    display: inline-block;
    width: 100%; }
    .footer-mobile .container {
      width: 280px; }
  .chat {
    width: 100%; } }

@media (min-width: 321px) and (max-width: 414px) {
  .container {
    width: 100%; }
  .header-content {
    width: 300px;
    margin: auto;
    height: 100px; }
    .header-content .header-top .header-right .search-box {
      display: none; }
    .header-content .header-top .header-right .gio-hang {
      display: none; }
    .header-content .header-top .logo {
      display: flex;
      justify-content: center; }
    .header-content .menu {
      margin: 0;
      border-top: 1px solid #d6e0e1; }
      .header-content .menu .menu-right {
        font-size: 14px; }
        .header-content .menu .menu-right li {
          padding: 5px; }
    .header-content .menu-wrap {
      left: -90px; }
    .header-content .menu-button {
      top: -68px;
      left: -35px; }
    .header-content .menu-mobile {
      position: relative;
      top: -20px; }
  .slide {
    width: 100%;
    height: auto; }
    .slide .slick-prev, .slide .slick-next {
      visibility: hidden; }
    .slide .slider img {
      zoom: 40%; }
    .slide .slider .ban-chay {
      top: 70px;
      left: -20px; }
      .slide .slider .ban-chay .summer {
        font-size: 40px;
        margin: 0; }
      .slide .slider .ban-chay .san-pham-ban-chay {
        font-size: 36px;
        margin: 0; }
  .san-pham {
    width: 100%;
    height: 3500px; }
    .san-pham .big {
      zoom: 95%;
      position: relative;
      left: 50px;
      height: 1450px; }
      .san-pham .big .item {
        padding-bottom: 40px; }
    .san-pham .small {
      width: 100%;
      height: 1430px;
      position: relative;
      left: 35px;
      zoom: 143%; }
      .san-pham .small .item {
        padding-bottom: 30px; }
  .san-pham-noi-bat {
    width: 100%; }
    .san-pham-noi-bat .slide-mobile {
      display: block; }
    .san-pham-noi-bat .ten {
      position: relative;
      top: -30px; }
    .san-pham-noi-bat .slider2 {
      display: none; }
    .san-pham-noi-bat .slide-mobile .item {
      width: 100%;
      zoom: 190%; }
  .footer-tab {
    display: none; }
  .footer-mobile {
    display: inline-block;
    width: 100%; }
    .footer-mobile .container {
      width: 280px; }
  .chat {
    width: 100%; } }
