﻿$mobile-width: 320px;
$iphone6-width: 414px;
$ipad-width: 768px;
$ipadpro-width: 1024px;
$desktop-width: 1366px;

@mixin desktop {
    @media (min-width: 1171px) and (max-width:#{$desktop-width}) {
        li {
            list-style: none;
        }

       

        .header-content {
             .container {
            width: 1170px;
        }
            .header-top {
                .header-right {
                    .contact {
                        display: inline-block;
                    }
                }
            }

            .menu {
                .menu-left {
                    display: inline-block;
                }
            }

            .menu-mobile {
                display: none;
            }
        }

        .slide-mobile {
            display: none;
        }
        .slide{
            width:1366px;
            img{
                zoom:80%;
            }
            .slick-prev{
                left:40px;
            }
            .trai{
                left:calc(50% -  520px)
            }
        }
        .san-pham, .san-pham-noi-bat {
            zoom: 80%;
            .slide2 {
                width: 100%;
            }

            .ban-chay {
                width: 365px;

                .summer {
                    font-size: 62px;
                }

                .san-pham-ban-chay-nhat {
                    font-size: 30px;
                }
            }
        }

        .footer-pc {
            width:100%;
            display: inline-block;
            .container {
                left: 8px;
                margin-top: 50px;
                position: relative;
                zoom: 80%;
            }
        }

        .footer-tab {
            display: none;
            }
        
    }
}


@mixin ipadpro {
    @media (min-width: #{$ipadpro-width}) and (max-width:1170px) {
        li {
            list-style: none;
        }

        .container {
            width: 940px;
        }

        .header-content {
            .header-top {
                .header-right {
                    .contact {
                        display: none;
                    }
                }
            }

            .menu {
                .menu-left {
                    display: none;
                }
            }

            .menu-mobile {
                display: inline-block;
            }

            .menu-button {
                left: 15px;
            }
        }

        .slide-mobile {
            display: none;
        }

        .slide {
            zoom: 50%;

            .slick-prev, .slick-next {
                visibility: hidden;
            }

            .slide2 {
                width: 100%;
            }

            .ban-chay {
                width: 365px;

                .summer {
                    font-size: 62px;
                }

                .san-pham-ban-chay-nhat {
                    font-size: 30px;
                }
            }
        }

        .san-pham {
            zoom: 67%;
        }

        .san-pham-noi-bat {
            zoom: 67%;
        }

        .footer-pc {
            display: none;
        }

        .footer-tab {
            width: 1024px;
            display: block;

            .container {
                position: relative;
                width: 100%;
                left: 53px;

                .up {
                    width: 200px;
                    display: inline;

                    .chung {
                        margin-left: 40px;
                    }

                    .item {
                        width: 460px;
                    }
                }

                .down {
                    width: 400px;
                    display: inline-block;
                    margin-left: 40px;
                    margin-top: 70px;
                }
            }
        }
    }
}


@mixin ipad {
    @media (max-width: #{$ipad-width}) {
        li {
            list-style: none;
        }

        .container {
            width: 730px;
        }

        .header-content {
            .header-top {
                .header-right {
                    .contact {
                        display: none;
                    }
                }
            }

            .menu {
                .menu-left {
                    display: none;
                }
            }

            .menu-mobile {
                display: inline-block;
            }
        }

        .slide-mobile {
            display: none;
        }

        .slide, .san-pham, .san-pham-noi-bat {
            zoom: 50%;

            .slick-prev, .slick-next {
                visibility: hidden;
            }

            .slide2 {
                width: 100%;
            }

            .ban-chay {
                width: 365px;

                .summer {
                    font-size: 62px;
                }

                .san-pham-ban-chay-nhat {
                    font-size: 30px;
                }
            }
        }

        .footer-pc {
            display: none;
        }

        .footer-tab {
            display: inline-block;
        }
    }
}

@mixin iphone6 {
    @media (min-width:#{$mobile-width + 1}) and (max-width: #{$iphone6-width}) {

        $xam: #d6e0e1;

        .container {
            width: 100%;
        }

        .header-content {
            width: 300px;
            margin: auto;
            height: 100px;

            .header-top {
                .header-right {
                    .search-box {
                        display: none;
                    }

                    .gio-hang {
                        display: none;
                    }
                }

                .logo {
                    display: flex;
                    justify-content: center;
                }
            }

            .menu {
                margin: 0;
                border-top: 1px solid $xam;

                .menu-right {
                    font-size: 14px;

                    li {
                        padding: 5px;
                    }
                }
            }
            .menu-wrap{
                left:-90px;
            }
            .menu-button {
                top: -68px;
                left:-35px;
            }

            .menu-mobile {
                position: relative;
                top: -20px;
                
            }
        }

        .slide {
            width: 100%;
            height: auto;

            .slick-prev, .slick-next {
                visibility: hidden;
            }

            .slider {
                img {
                    zoom: 40%;
                }

                .ban-chay {
                    top: 70px;
                    left: -20px;

                    .summer {
                        font-size: 40px;
                        margin: 0;
                    }

                    .san-pham-ban-chay {
                        font-size: 36px;
                        margin: 0;
                    }
                }
            }
        }

        .san-pham {
            width: 100%;
            height: 3500px;

            .big {
                zoom: 95%;
                position: relative;
                left: 50px;
                height: 1450px;

                .item {
                    padding-bottom: 40px;
                }
            }

            .small {
                width: 100%;
                height: 1430px;
                position: relative;
                left: 35px;
                zoom: 143%;

                .item {
                    padding-bottom: 30px;
                }
            }
        }

        .san-pham-noi-bat {
            width: 100%;

            .slide-mobile {
                display: block;
            }

            .ten {
                position: relative;
                top: -30px;
            }

            .slider2 {
                display: none;
            }

            .slide-mobile {
                .item {
                    width: 100%;
                    zoom: 190%;
                }
            }
        }

        .footer-tab {
            display: none;
        }

        .footer-mobile {
            display: inline-block;
            width: 100%;

            .container {
                width: 280px;
            }
        }

        .chat {
            width: 100%;
        }
    }
}

@mixin mobile {
    @media (max-width: #{$mobile-width}) {

        $xam: #d6e0e1;

        .container {
            width: 100%;
        }

        .header-content {
            width: 300px;
            margin: auto;
            height: 100px;

            .header-top {
                .header-right {
                    .search-box {
                        display: none;
                    }

                    .gio-hang {
                        display: none;
                    }
                }

                .logo {
                    display: flex;
                    justify-content: center;
                }
            }

            .menu {
                margin: 0;
                border-top: 1px solid $xam;

                .menu-right {
                    font-size: 14px;

                    li {
                        padding: 5px;
                    }
                }
            }

            .menu-button {
                top: -68px;
            }

            .menu-mobile {
                position: relative;
                top: -20px;
            }
        }

        .slide {
            width: 100%;
            height: auto;

            .slick-prev, .slick-next {
                visibility: hidden;
            }

            .slider {
                img {
                    zoom: 40%;
                }

                .ban-chay {
                    top: 70px;
                    left: -20px;

                    .summer {
                        font-size: 40px;
                        margin: 0;
                    }

                    .san-pham-ban-chay {
                        font-size: 36px;
                        margin: 0;
                    }
                }
            }
        }

        .san-pham {
            width: 100%;
            height: 3000px;

            .big {
                zoom: 80%;
                position: relative;
                left: 50px;
                height: 1450px;

                .item {
                    padding-bottom: 40px;
                }
            }

            .small {
                width: 100%;
                height: 1430px;
                position: relative;
                left: 35px;
                zoom: 120%;

                .item {
                    padding-bottom: 30px;
                }
            }
        }

        .san-pham-noi-bat {
            width: 100%;

            .slide-mobile {
                display: block;
            }

            .ten {
                position: relative;
                top: -30px;
            }

            .slider2 {
                display: none;
            }

            .slide-mobile {
                .item {
                    width: 100%;
                    zoom: 150%;
                }
            }
        }

        .footer-tab {
            display: none;
        }

        .footer-mobile {
            display: inline-block;
            width: 100%;

            .container {
                width: 280px;
            }
        }

        .chat {
            width: 100%;
        }
    }
}




@include desktop;
@include ipadpro;
@include ipad;
@include mobile;
@include iphone6;
