﻿.vld-error-wrap{
    color:$text-color-error;
    >label:first-child{font-weight:bold}
    .form-control{
        border-color:$text-color-error;                        
        &:focus{border-color:$text-color-error;box-shadow:0 0 0 0.2rem $text-color-error-shadow}
    }
}