﻿$font-family:'Roboto';
$font-family2:'UtmSeagull';
$font-family3:'UvnVan';
$font-family4:'UtmAndrogyne';

$font-size-tru-5:10px;
$font-size-tru-4:11px;
$font-size-tru-3:12px;
$font-size-tru-2:13px;
$font-size-tru-1:14px;
$font-size:15px;
$font-size-cong-1:16px;
$font-size-cong-2:17px;
$font-size-cong-3:18px;
$font-size-cong-4:19px;
$font-size-cong-5:20px;

$text-color--1:#3e2714;
$text-color:#5e4027;
$text-color-1:#8b0304;
$text-color-2:#9d0b0f;
$text-color-3:#795e2f;
$text-color-4:#88694f;
$text-color-5:#917359;
$text-color-6:#b29160;

$text-color-fade:#666;
$text-color-light:#999;
$text-color-error:#dc3545;
$text-color-error-shadow:rgba(220, 53, 69,0.25);

$text-color-primary:#007bff;
$text-color-secondary:#6c757d;
$text-color-success:#28a745;
$text-color-danger:#dc3545;
$text-color-warning:#ffc107;
$text-color-info:#17a2b8;
$text-color-white:#fff;

$logo-color-1:#8b0304;
$logo-color-2:#faa519;
$logo-color-2-op-8:rgba(250, 165, 25, 0.8);
$logo-color-2-op-5:rgba(250, 165, 25, 0.5);

$body-bg:#f1eae4;

$background-fade:#f1f1f1;
$background-light:#f7f7f7;
$float-menu-bg:#f1f1f1;
$float-menu-width:222px;

$main-color:#8b0304;
$btn-color:#fff;
$border-color:#e6ddd4;
$border-color-dark:#c9c9c9;
$border-color-card:rgba(0,0,0,0.125);